.boxPrincipal{
    // border: solid 2px red;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.container{
    // border: solid 2px green; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2{
        // border: solid 2px red;
        text-align: center;//o texto vai quebrar centralizado 
    }
}

form{
    border: solid 2px rgba(0, 86, 149, 1); 
    border-radius: 15px;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div{
        // border: solid 2px rgb(181, 26, 168);
       width: 100%;   //colocar o maior tamanho para ir ajustando no responsivo//
       display: flex;
       align-items: center;
       justify-content: space-around;
       color: rgba(0, 86, 149, 1);
       

    }
    input{
     border: 2px solid rgba(0, 86, 149, 1) ;
     border-radius:10px;
     width: 80%;
     height: 5vh;
     outline:none ; //para tirar a bordar ao clicar no input
     padding-left: 20px;
     &::placeholder{ //para estilizar o placeholder
        color: black;
        }
    }

}

//para especificar o input a ser estilizado(ele conta com todos os inputs da pagina)
input:nth-child(6){
    width: 15vw;
    height: 6vh;
    padding-left: 0; //para tirar o padding aplicado aos outros inputs
    background-color: rgba(0, 86, 149, 1);
    color: white;
    cursor: pointer;
    font-size: 18px;

    
}

@media(max-width:1070px){
    form{
        width: 350px;
    }
}

@media(max-width: 650px){
    .container{
        height: 79vh;
        h2{
            font-size: 20px;
        }
    }
    .boxPrincipal{
        height: auto;
    }
}

@media(max-width:450px){
    form{
        width: 75vw;
        div{
            img{
                width: 13vw;
            }
            h3{
                font-size: 4.5vw;
            }
        }
    }
}