header{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,rgba(0,27,47,1) 0%, rgba(0,86,149,1) 100%);
   
}

.boxLogo{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h1{
        color: white;
        font-size: 25px;
    }
}

.boxMenu{
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: white;
            font-size: 20px;
        }
    }
}

.boxInput{
    border: solid 2px white;
    width: 17vw;
    margin-right: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    input{
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
        &::placeholder{
            color:white
        }
    }
}



